 .u-section-1 {
  background-image: url("images/american-horror-story-season-8-amerikanskaia-istoriia-uzhaso.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1027px;
}

.u-section-1 .u-list-1 {
  width: 1128px;
  margin: 21px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 876px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/1556097-1609919.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/1572978602_instagram-sara-polson-10.jpg");
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 10px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/emma-roberts021946.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0 10px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/3F3F3F1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0 10px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/personpics-r.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0 10px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/JCThhYxJXZdFN-n6gJUwZA-default.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0 10px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/-xw8YcrOHT0.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0 10px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-image-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/sm_3267213.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 0 10px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 299px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 723px;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 2340px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("images/american-horror-story-season-8-amerikanskaia-istoriia-uzhaso.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1027px;
}

.u-section-2 .u-list-1 {
  width: 1128px;
  margin: 21px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 876px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/Billiel2015.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 10px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 298px auto 0;
  padding: 8px 33px;
}

.u-section-2 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/Kathy_Bates_at_PaleyFest_2014_-_13491414615_crop.JPG");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 10px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 298px auto 0;
  padding: 8px 33px;
}

.u-section-2 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/Frances_Conroy_at_PaleyFest_2014_-_13491478183.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 10px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 298px auto 0;
  padding: 8px 33px;
}

.u-section-2 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/i.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0 10px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 298px auto 0;
  padding: 8px 33px;
}

.u-section-2 .u-image-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/GettyImages-1314420602.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 10px;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 298px auto 0;
  padding: 8px 33px;
}

.u-section-2 .u-image-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/naomi-grossman_1-medium.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0 10px;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 298px auto 0;
  padding: 8px 33px;
}

.u-section-2 .u-image-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/3F3F3F3F3F3F.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0 10px;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 298px auto 0;
  padding: 8px 33px;
}

.u-section-2 .u-image-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/sm_1229427.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 0 10px;
}

.u-section-2 .u-btn-8 {
  border-style: none;
  font-size: 0.9375rem;
  font-family: americanhorrorstory;
  font-weight: 700;
  margin: 298px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 723px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 2340px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/american-horror-story-season-8-amerikanskaia-istoriia-uzhaso.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1027px;
}

.u-section-3 .u-list-1 {
  width: 1128px;
  margin: 21px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 876px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/Jamie_Brewer_February_2015.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 10px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: americanhorrorstory;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-image-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/DenisOHare2018.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 10px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: americanhorrorstory;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-image-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/170513.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0 10px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: americanhorrorstory;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-image-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/b0e7123ba382cd54d57ab7d986d117.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0 10px;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: americanhorrorstory;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-image-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/wes-bentley_2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0 10px;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: americanhorrorstory;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-image-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/zachary_quinto01.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 0 10px;
}

.u-section-3 .u-btn-6 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: americanhorrorstory;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-image-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/409870_102519.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 0 10px;
}

.u-section-3 .u-btn-7 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: americanhorrorstory;
  margin: 299px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-image-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/sm_2266883.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px 0 10px;
}

.u-section-3 .u-btn-8 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  font-family: americanhorrorstory;
  margin: 299px auto 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 723px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 2340px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'americanhorrorstory';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/americanhorrorstory.otf);
}